.site-layout .site-layout-background {
  margin-top: 0rem;
  padding: 0%;
  background: #fff;
}

.header {
  display: flex;
  z-index: 1;

  height: 8rem !important;
  margin: 0;
}

.revElaLogo {
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
