.logo {
  width: 300px;
  height: 90%;
  background-image: url("./assets/logo-revela.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}
